<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://images8.alphacoders.com/735/735750.png"
    alt=""
    height="350px"
    width="650px"
    srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aliquid cum minus.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aliquid cum minus.
    </p>
  </div>
</div>
