<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://images8.alphacoders.com/735/735750.png"
    cardTitle="Torre Celeste | Steven Universo"
    cardDescription="A Torre Celeste e um local onde Pérola, Ametista e Steven vão procurar o Besouro Celeste em 'A Mulher Gigante'"
    >
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    photoCover ="https://images4.alphacoders.com/735/thumb-1920-735747.png"
    cardDescription ="No topo da Torre Celeste mora-se o Besouro Celeste"
    >
  </app-small-card>
    <app-small-card
    Id="3"
    photoCover ="https://images8.alphacoders.com/736/736059.png"
    cardDescription ="O Pássaro Gigante é uma Gem Corrompida."
    >
  </app-small-card>
    <app-small-card
    Id="4"
    photoCover ="https://images4.alphacoders.com/735/735776.png"
    cardDescription ="Amigo Monstro é o 23º episódio de Steven Universo. Foi 23º episódio a ser exibido no Brasil."
    >
  </app-small-card>
  </div>


</div>
